<!DOCTYPE html>
<html>
<head>
<title>Scenario Title</title>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="prototype.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
  <div class="fullContainer">
  <header>
    <h1>Welcome to Tools of the Trade</h1>
  </header>
  <div class="contentContainer">
  <nav>
  
    <ul>
    <h2>Scenario List</h2>
    <li>Scenario 1</li>
    <li>Scenario 2</li>
    <li>Scenario 3</li>
    <li>Scenario 4</li>
    <li>Scenario 5</li>
    <li>Scenario 6</li>
    <li>Scenario 7</li>
    <li>Scenario 8</li>
    </ul>
  </nav>
  <main>
  <div class="contentBlock">
  <div class="content">
  <h4>Section Title:</h4>
  <p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur a lectus sed nisi hendrerit scelerisque. Morbi rutrum nunc et velit malesuada cursus. Nullam quis augue laoreet, iaculis enim vel, lacinia eros. Integer eu elit viverra, ultricies sem id, tincidunt lorem. Aliquam erat volutpat. Aliquam sodales tincidunt iaculis. Nam vel tincidunt dui.
  </p>
  </div>
  <div class="fakeimg"></div>
  
  </div>
  <div class="contentBlock">
  <div class="fakeimg"></div>
  <div class="content">
  <h4>Section Title:</h4>
  <p>
  Vestibulum nec diam magna. Etiam laoreet, metus vel condimentum porta, metus ipsum pellentesque nibh, quis aliquet risus leo quis arcu. Donec tincidunt sit amet elit non dignissim. Aliquam porta lobortis sagittis. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Donec consequat sed dolor vitae ornare. Praesent molestie tellus in lacus viverra, in convallis urna maximus. Suspendisse commodo urna urna, non euismod felis accumsan ac. Nullam vulputate ligula et sem sollicitudin, varius auctor arcu pellentesque. Integer nibh orci, tristique non tellus a, dictum sagittis erat. Phasellus pretium urna non accumsan blandit.
  </p>
  </div>
  </div>
  <div class="contentBlock">

  <div class="content">
  <h4>Section Title:</h4>
  <p>
  Proin blandit pellentesque erat eget suscipit. Aliquam consectetur pretium justo, nec sagittis nisi eleifend non. Morbi id rhoncus nisl. Aliquam fermentum ipsum sit amet nisi facilisis condimentum. Donec interdum at sapien sed consectetur. Integer neque tortor, ultricies ac bibendum ac, suscipit eu velit. Ut ligula ex, cursus id ex vitae, aliquet gravida leo. In mi lacus, malesuada et lobortis in, facilisis eu justo. Nam venenatis leo nec dignissim ultricies. Aliquam quis blandit lorem, quis malesuada diam.
  </p>
  </div>
  <div class="fakeimg"></div>
  </div>
  <div class="contentBlock">
  <div class="fakeimg"></div>
  <div class="content">
  <h4>Section Title:</h4>
  <p>
  Sed nec est non nunc sagittis molestie. Vivamus vitae tincidunt orci. Quisque rutrum id nisi tincidunt bibendum. Proin cursus consequat volutpat. Mauris quam arcu, ultrices eget odio ac, sagittis scelerisque lacus. Suspendisse pulvinar ipsum sed nulla porttitor, laoreet malesuada magna vehicula. Phasellus sed arcu tristique, lacinia nibh quis, fermentum diam. Duis vehicula augue quis mi semper pulvinar. Nam erat dolor, malesuada vitae eleifend sed, pulvinar at turpis. Pellentesque non velit luctus justo facilisis feugiat. Proin quis turpis consequat, malesuada augue non, pretium leo. Praesent ornare erat elit, eu eleifend mi lobortis sed. Nunc nec lectus sagittis, tincidunt leo nec, laoreet ipsum.
  </p>  
  </div>
  </div>
  <div class="contentBlock">
  <div class="content">
  <h4>Section Title:</h4>
  <p>
  Aenean egestas turpis a nibh tincidunt, at lacinia purus eleifend. Integer efficitur ipsum id convallis tristique. Cras pharetra vehicula augue, vel pellentesque lorem ullamcorper in. Fusce eget nisl eget libero maximus pharetra et sit amet felis. Nulla pharetra at enim ac consectetur. In hac habitasse platea dictumst. Sed lobortis neque neque, facilisis congue mi mattis faucibus. Aliquam mollis dapibus leo ac commodo. Nulla scelerisque mi orci, eu ornare felis egestas fermentum. Nullam ultricies magna pellentesque maximus malesuada. Curabitur eu eros placerat, ultrices nunc vitae, bibendum enim.
  </p>  
  </div>
  <div class="fakeimg"></div>
  </div>
  <div class="buttonBlock">
  <button>previous</button>
  <button>next</button>
  </div>
  </main>
  </div>

</body>