<html>
<!--This page allows users to change their password -->
<head>
    <title>PasswordReset</title>
    <meta charset="utf-8">
    <style>
        .topbanner {
            background-color: pink;
            text-align: center;
            height: 50px;
            width: 100%;
        }

        .passwordReset {
            border: 1px solid black;
            text-align: center;
            width: 25%;
            margin-top: 100px;
            margin-left: 37%;
        }

        .textBox {
            width: 65%;
            margin-left: 10px;
            float: left;
        }
    </style>
</head>
<!--User enters their new desired password then enters a second time to confirm-->
<body style="position: relative; min-height: 100%; top: 0px;">
    <div class="topbanner" id="banner">
        <h1>Tools of the Trade</h1>
    </div>
    <div class="passwordReset" id="Password Reset">
        <p>Reset Your Password</p>
        <form action="passwordReset.html">
            Password:<br>
            <input type="text" name="newPassword"><br>
            Confirm Password:<br>
            <input type="text" name="Confirm">
            <br><br>
            <input type="submit" value="Change Password"><br>
        </form>
    </div>
</body>
</html>