<html>
<!--This page displays the scores associated with Plumber accounts and their scores on tests -->
<head>
<title>Educational Video</title>
<meta charset="utf-8">
<style>
.topbanner {
background-color:pink;
text-align:center;
height:50px;
width:100%;
}
nav.sidebar{
float:left;
background-color:LightGray;
height:100%;
width:200px;
}
.mainbody{

background-color:white;


}
li:hover{
	background-color:white;}
h3{
margin:10px;
}
li{
padding:5px;
}
table,th, td{
	border:1px solid black;
}
th{
	text-align:center;
	padding-left: 20px;
}
td{
	text-align:center;
	padding: 10px;
}
</style>
</head>
<body style="position: relative; min-height: 100%; top: 0px;">
<div class ="topbanner" id="banner">
<h1>Welcome to Tools of the Trade</h1>
</div>
<nav class="sidebar" id="left">
<h2 style="margin:5px">Scenario List</h2>
<!-- these scenarios will become links -->
<ul>
<li>Scenario 1</li>
<li>Scenario 2</li>
<li>Scenario 3</li>
<li>Scenario 4</li>
<li>Scenario 5</li>
<li>Scenario 6</li>
<li>Scenario 7</li>
<li>Scenario 8</li>
</ul>
</nav>
<div class="mainbody" id="main" style="padding-top: 0px; height:100%; width:100%;">
<h2 style="margin-left:45%"> Scores List</h2>
<table style = "margin-left: 40%; border-collapse:collapse;">
	<tr>
		<th> Name </th>
		<th> Identification Number </th>
		<th> Score </th>
	</tr>
	<tr>
		<td> Matthew </td>
		<td> 567483021 </td>
		<td> 72 </td>
	</tr>
	<tr>
		<td> Samuel </td>
		<td> 367433021 </td>
		<td> 98 </td>
	</tr>
	<tr>
		<td> Timothy </td>
		<td> 567484023 </td>
		<td> 41 </td>
	</tr>
	<tr>
		<td> Ryan </td>
		<td> 767783071 </td>
		<td> 77 </td>
	</tr>
</table>
<div>
<p style="text-align:left;">Previous Page <span style="text-align:center; margin-left:80%"> Next Page </span></p>

</div>
</body>
</html>