<html>
<!--This page welcomes the user -->
<head>
<title>Weclome</title>
<meta charset="utf-8">
<style>
.topbanner {
background-color:pink;
text-align:center;
height:50px;
width:100%;
}
.welcomeScreen{
text-align:center;
}

</style>
</head>
<body style="position: relative; min-height: 100%; top: 0px;">
<div class ="topbanner" id="banner">
<h1>Tools of the Trade</h1>
</div>
<div class ="welcomeScreen" id="weclome">
<h1>Welcome [Name Here]!</h1><br>
<input type="submit" value="Continue">
</div>
</body>
</html>